<br>
<br>
<div class="container-fluid text-center">
    <h1 style="text-align: center; marging-top:5px"><i class="fa fa-briefcase" aria-hidden="true"></i> Workout Routine
    </h1>
</div>
<div class="row w-100 mt-5 mr-auto ml-auto">
    <div class="col-md-6 ml-auto mr-auto mb-5">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-plus"></i> Add Workout Routine</h1>
            <form action="/admin/addWorkoutRoutine" method="POST" enctype="multipart/form-data" class="was-validated">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Name</label>
                        <input type="text" class="form-control is-invalid" name="name" id="name"
                            placeholder="Workout Routine Name" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="type">Type</label>
                        <input type="text" class="form-control is-invalid" name="type" id="type"
                            placeholder="Type Of Workout Routine" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="body_part">Body Part</label>
                        <input type="text" class="form-control is-invalid" name="body_part" id="body_part"
                            placeholder="Body Part Involove In The Workout Routine" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="duration">Duration</label>
                        <input type="number" class="form-control is-invalid" name="duration" id="duration"
                            placeholder="Duration Of The Workout Routine In Days" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="img_path">Image</label>
                        <input type="file" class="form-control is-invalid btn" name="img_path" id="img_path"
                            placeholder="Image For Details" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="comment">Comment</label>
                        <textarea class="form-control is-invalid" name="comment" id="validationTextarea" cols="100"
                            rows="3" placeholder="About The Workout Routine" required></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Workout Routine</button>
            </form>
        </div>
    </div>
    {{!-- <div class="col-md-6 mr-auto">
        <div class="row">
            {{#each wrs}}
            <div class="col-lg-4">
                <div class="card bg-dark">
                    <div class="card-header">
                        <img style="height: 200px; width: 100%;" src="/upload/{{this.img_path}}" alt="Card image">
                        {{this.name}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div> --}}
</div>