{{!-- //****************************//
// Author of this Code:
// Khaalid Subaan
// A17CS4037
//****************************// --}}

<style>
 
  a:hover {
  color: sandybrown;
}

</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: black;">
  <a class="navbar-brand" href="memberDashboard.handlebars">Najah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/adminProfile">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/viewMembers">View Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/viewapplications">View Application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/registerPage">Register Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/memberPage">Register Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/viewEquipmentPage">Equipment</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/viewTrainingPage">Personal Training</a>
      </li>
    </ul>  
   
     <a class="cart" href="/viewCart" style="color: rgb(255, 60, 0);"><i class="fa fa-shopping-cart"
        style="font-size:35px;"></i> <div class="badge" style="font-size: medium;">{{{val.items}}}</div></a>
    
    <form action="/logout" method="GET">
      <button class="btn btn-secondary my-2 my-sm-0 rounded-pill text-white" name="logout"
        style="background-color: rgb(255, 60, 0); margin: 5px;">logout</button>
    </form>
  </div>
</nav>