<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="memberDashboard.handlebars">Najah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="memberDashboard.handlebars">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="payment.handlebars">Payment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="memberProfile.handlebars">MyProfile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="workoutTable.handlebars">Work-out Routine</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="about.handlebars">About</a>
      </li>
    </ul>

      <button class="btn btn-secondary my-2 my-sm-0" name="logout">logout</button>

  </div>
</nav>