
{{!-- //****************************//
// Author of this Code:
// Khaalid Subaan
// A17CS4037
//****************************// --}}



<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="#">Najah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/info">What is Najah</a>
      <li class="nav-item">
        <a class="nav-link" href="/FAQ">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Contacts">Contacts</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Address</a>
      </li>
    </ul>
    <div>


      <button class="btn btn-secondary my-2 my-sm-0 rounded-pill" name="register"
        style="background-color: rgb(255, 60, 0);"><a href="member/registerPage"
          class="text-white">Register</a></button>

      <button class="btn btn-secondary my-2 my-sm-0 rounded-pill" name="login"
        style="background-color: rgb(255, 60, 0);"><a href="/loginPage" class="text-white">login</a></button>
    </div>

  </div>
</nav>