<!--
dont forget for flashes
-update failure
-update success

-->

<div class="row h-50" style="">



    <div class="col">
        <div class="img h-100 ">

        </div>
    </div>

</div>
<br>
<br>
<div class="row h-75 justify-content-center">
    <div class="col-3">
        <div class="card bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Latest added members</div>
            <h5 class="card-title"></h5>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
          
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <span class="badge badge-primary badge-pill">1sets</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card bg-primary">

            <div class="card">
                <div class="card-body bg-primary text-white text-align-center">
                    <h5 class="card-title">Register Member</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <!-- Button trigger modal -->
                     <form action="/member/registerPage" method="get">
                    <button type="submit" class="btn btn-primary">
                        Register
                    </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="col-3">
        <div class="card bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Latest Payments</div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <span class="badge badge-primary badge-pill">none</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <span class="badge badge-primary badge-pill">none</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <span class="badge badge-primary badge-pill">none</span>
                </li>
            </ul>
        </div>
    </div>



    <br>
    <br>

    <div class="row">


        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body bg-primary text-white">
                    <h5 class="card-title">View Members</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <!-- Button trigger modal -->
                    <form action="/admin/viewMembers" method="get">
                        <button type="submit" class="btn btn-primary">
                            View
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-white" style="background-color: rgb(255, 82, 2);">
                    <h5 class="card-title">Register Employee</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <form action="/admin/registerPage" method="get">
                        <button type="submit" class="btn btn-danger">
                            Register
                        </button>
                    </form>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body bg-primary text-white">
                    <h5 class="card-title">View Applications</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <form action="/admin/viewapplications" method="get">
                        <button type="submit" class="btn btn-primary">
                            View
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



