<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
 <form action="/checking" method="post" enctype="multipart/form-data">
 <input type="text" name="name" id=""> <br>
 <input type="file" name="upload" id="">
 <button type="submit">Upload</button>
 
 </form>



</body>
</html>



   <script>
$(document).ready(function() {
 
$('#uploadForm').submit(function() {
$("#status").empty().text("File is uploading...");
$(this).ajaxSubmit({
error: function(xhr) {
status('Error: ' + xhr.status);
},
 

success: function(response) {
$("#status").empty().text(response);
console.log(response);
}
});
//Code to disable the page refresh.
return false;
});
});
</script>

</script>