{{!-- //****************************//
// Author of this Code:
// Khaalid Subaan
// A17CS4037
//****************************// --}}



<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner" style="background-image: url(home1.jpg);background-size: cover;background-position: center;">
        <div class="carousel-caption ">
          <h1 class="display-4 text-white">Najah Gym</h1>
          <h3 class="text-white">No Pain No Gain</h3>

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: url(b1.jpg);background-size: cover;background-position: center;">
        <div class="carousel-caption ">
          <h1 class="display-4 text-white">Najah Gym</h1>
          <h3 class="text-white">No Pain No Gain</h3>

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: url(home2.jpg); background-size: cover;background-position: center;">
        <div class="carousel-caption ">
          <h1 class="display-4 text-white">Najah Gym</h1>
          <h3 class="text-white">No Pain No Gain</h3>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
{{!-- <hr> --}}
<br>

<!--- Cards -->
<div class="container-fluid padding">
  <div class="row" padding>
    <div class="col-md-4">
      <div class="card">
        <img src="homei.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">John |Doe</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero similique
            nihil quisquam debitis amet atque. Vel, tenetur sequi quae nesciunt labore dignissimos atque
            reprehenderit fuga eos, illum voluptas veritatis.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="homei2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Mary |Doe</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero similique
            nihil quisquam debitis amet atque. Vel, tenetur sequi quae nesciunt labore dignissimos atque
            reprehenderit fuga eos, illum voluptas veritatis.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="homei3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">abdi |Doe</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero similique
            nihil quisquam debitis amet atque. Vel, tenetur sequi quae nesciunt labore dignissimos atque
            reprehenderit fuga eos, illum voluptas veritatis.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<br>
{{!-- <hr> --}}
<br>
<h1 class="text-center mb-3"><i class="fas fa-list"></i> View Equipment</h1>
<div class="row text-center m-auto">
{{#each equ}}
    <div class="col-lg-3 m-auto" style="width: 18rem;">
        <div class="card m-2">
            <img src="/{{this.type}}.png" class="card-img-top" alt="{{this.path}}">
            <div class="card-body">
                <p class="card-text">{{this.name}}</p>
            </div>
        </div>
    </div>
{{/each}}
</div>

<br>
{{!-- <hr> --}}
<br>
<!--- Promotion personal training -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="disaply-4"><i class="fa fa-suitcase"></i> Personal Training Packages</h1>
    </div>
    <hr>
  </div>
</div>