
{{!-- //****************************//
// Author of this Code:
// Khaalid Subaan
// A17CS4037
//****************************// --}}



  <div class="row h-50" style=" background-color: black;">
<div class="col">
   <div class="img h-100 vw-100 p-3">
    
<div class="card text-white  mb-5 p-5" style="max-width: 20rem; background-color:   rgb(255, 60, 0);">
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title">Welcome To najah Gym</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
</div>
 
  </div>

  <div class="row h-25 justify-content-center">

    <div class="col-3 p-3">
      <div class="card border-0 ">
        <img src="homei.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-3 p-3">
      <div class="card border-0">
        <img src="homei2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    
    <div class="col-3 p-3">
      <div class="card border-0">
        <img src="homei3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>


 

