<div class="row h-25" style=" background-color: black;">
    <div class="col">
        <div class="img h-100 vw-100 p-3">

        </div>
    </div>
</div>
<br>
<br>
<div class="row h-50 justify-content-center">
    <div class="col-3">
        <div class="card bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Today's workout</div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dapibus ac facilisis in
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Morbi leo risus
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-5">
        <div class="card bg-primary">
            <img src="/back.jpg" class="card-img-top" alt="member Picture">
            <ul class="list-group list-group-flush text-white bg-primary ">
                <li class="list-group-item text-white bg-primary">Name : {{profile.name}}</li>
                <li class="list-group-item text-white bg-primary">Email : {{profile.email}}</li>
                <li class="list-group-item text-white bg-primary">IC : {{profile.IC}}</li>
            </ul>
            <div class="card-body">
                <a href="/member/editmemberProfile" class="card-link text-white">Edit Profile</a>
                <a href="/member/editmemberProfile" class="card-link text-white">Add Profile Image</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Today's workout</div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dapibus ac facilisis in
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Morbi leo risus
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>
        </div>
    </div>



    <div class="w-100">
    </div>
    <div class="container">
        <div class="row">


            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>