<!--
dont forget for flashes
-update failure
-update success

-->

<div class="row h-50">



    <div class="col">
        <div class="img h-100 ">

        </div>
    </div>

</div>
<br>
<br>
<div class="row h-75 justify-content-center">
    <div class="col-3">
        <div class="card bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Today's workout</div>
            <h5 class="card-title"> Pull</h5>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Deadlift
                    <span class="badge badge-primary badge-pill">4sets/10reps</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Pull-up
                    <span class="badge badge-primary badge-pill">until failure</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <span class="badge badge-primary badge-pill">1sets</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-5">
        <div class="card bg-primary">
            <img src="/marc.jpg" class="card-img-top" alt="member Picture">
            <ul class="list-group list-group-flush text-white bg-primary ">
                <li class="list-group-item text-white bg-primary">Name : {{profile.name}}</li>
                <li class="list-group-item text-white bg-primary">Email : {{profile.email}}</li>
                <li class="list-group-item text-white bg-primary">IC : {{profile.IC}}</li>
            </ul>
            <div class="card-body">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#forupdate">
                    Edit Profile
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#forimage">
                    Add Profile Image
                </button>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Latest Payments</div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <span class="badge badge-primary badge-pill">none</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <span class="badge badge-primary badge-pill">none</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    <span class="badge badge-primary badge-pill">none</span>
                </li>
            </ul>
        </div>
    </div>



    <br>
    <br>


</div>
<div class="row" style="justify-content: center;">



    <div class="card" style="width: 18rem;">
        <div class="card-body bg-primary text-white">
            <h5 class="card-title">Deactivate Account</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the
                card's
                content.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fordeactivate">
                Deactivate
            </button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body text-white" style="background-color: rgb(255, 82, 2);">
            <h5 class="card-title">Check Member status</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the
                card's
                content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body bg-primary text-white">
            <h5 class="card-title">Finance history</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the
                card's
                content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>

        </div>
    </div>
</div>
<!-- Modal deactivate -->
<div class="modal fade" id="fordeactivate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Deactivate Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <form action="/member/deactivateAccount" method="post">
               <p>Are you sure you want to Deactivate your account?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                </form>


                <button type="button" class="btn btn-secondary" data-dismiss="modal">Not sure yet</button>

            </div>
        </div>
    </div>
</div>


<!-- Modal update -->
<div class="modal fade" id="forupdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Update Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/member/updateMember" method="post">
                    <div class="form-group">
                        <label for="phone">phone</label>
                        <input type="phone" id="phone" name="phone" class="form-control" value="{{profile.phone}}" />
                    </div>
                    <div class="form-group">
                        <label for="password">Previous Password</label>
                        <input type="password" id="password" name="old_password" class="form-control"
                            placeholder="Enter your previous password" />
                    </div>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" id="password" name="new_password" class="form-control"
                            placeholder="Enter your new Password" />
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Update changes</button>
                </form>


                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal add image -->
<div class="modal fade" id="forimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Update Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/member/updateMember" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div </div> <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload image</button>
                </form>


                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

