<!-- finding 
//user information
//change and update info
//buttons for : 
deactivate
check finanical history
check application status-->

<br>
<br>
<div class="row">
    <div class="col">



        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Today's Workout</div>
            <div class="card-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                            varius
                            blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                            varius
                            blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <img src="..." class="card-img-top" alt="member Picture">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name : {{profile.name}}</li>
                <li class="list-group-item">Email : {{profile.email}}</li>
                <li class="list-group-item">IC : {{profile.IC}}</li>
            </ul>
            <div class="card-body">
                <a href="/member/editmemberProfile" class="card-link">Edit Profile</a>
                  <a href="/member/editmemberProfile" class="card-link">Add Profile Image</a>
              
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Last Payment</div>
            <div class="card-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                            varius
                            blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                            varius
                            blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">





    <br>
    <br>
    <br>
    <br>

    <div class="row">

        <div class="col-sm">


            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Deactivate Account</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Click Me!</a>
                </div>

            </div>

        </div>
        <br>
        <br>
        <div class="col-sm">



            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Edit Profile</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Click Me!</a>
                </div>

            </div>

        </div>

    </div>
        <br>
        <br>
    <div class="row">
              <div class="col-sm">


            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Check Application status</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Click Me!</a>
                </div>

            </div>

        </div>
              <div class="col-sm">


            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Check financial History</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Click Me!</a>
                </div>

            </div>

        </div>
    </div>

</div>
