
<br>
<br>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
      <form action="/recovery" method="post">
        {{#if emailError}}
        <div class="alert alert-danger" role="alert">
        {{{emailError}}}
        </div>
        {{/if}}
        {{#if emailSuccess}}
        <div class="alert alert-success" role="alert">
        {{{emailSuccess}}}
        </div>
        {{/if}}
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required class="form-control" placeholder="Enter Email" />
        </div>
       
        <button type="submit" class="btn btn-primary ">PassWord recovery</button>
      </form>
    </div>
  </div>
</div>